.site-footer{
    margin: none;

    .site-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .widget{
            background-color: rgba(238, 130, 238, 0.5);
            width: 36vw;

        }
    }
}

#bout_nouvelles{
    display: none;
}